[submodule "tmp_resumo_compreensao_necropolitica"]
	path = tmp_resumo_compreensao_necropolitica
	url = https://github.com/luascfl/tmp_resumo_compreensao_necropolitica.git
[submodule "tmp_psicogenese_da_linguagem_escrita"]
	path = tmp_psicogenese_da_linguagem_escrita
	url = https://github.com/luascfl/tmp_psicogenese_da_linguagem_escrita.git
[submodule "tmp_frases_vygotsky"]
	path = tmp_frases_vygotsky
	url = https://github.com/luascfl/tmp_frases_vygotsky.git
[submodule "tmp_resenha_walden_ii"]
	path = tmp_resenha_walden_ii
	url = https://github.com/luascfl/tmp_resenha_walden_ii.git
[submodule "tmp_diario_de_bordo"]
	path = tmp_diario_de_bordo
	url = https://github.com/luascfl/tmp_diario_de_bordo.git
[submodule "tmp_seara_psicologia_social"]
	path = tmp_seara_psicologia_social
	url = https://github.com/luascfl/tmp_seara_psicologia_social.git
[submodule "tmp_resenha_pensamento_linguagem"]
	path = tmp_resenha_pensamento_linguagem
	url = https://github.com/luascfl/tmp_resenha_pensamento_linguagem.git
[submodule "tmp_prova_medidas_em_psicologia"]
	path = tmp_prova_medidas_em_psicologia
	url = https://github.com/luascfl/tmp_prova_medidas_em_psicologia.git
[submodule "tmp_live_protagonismo_juvenil"]
	path = tmp_live_protagonismo_juvenil
	url = https://github.com/luascfl/tmp_live_protagonismo_juvenil.git
[submodule "tmp_entrevista_adultez"]
	path = tmp_entrevista_adultez
	url = https://github.com/luascfl/tmp_entrevista_adultez.git
